version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      JAVA_OPTS: "-Xms256m -Xmx512m"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
