spring:
  application:
    name: Desafio Itau
  datasource:
    url: jdbc:h2:mem:desafioitau;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: always
logging:
  level:
    org:
      springframework:
        jdbc: DEBUG
